{% extends 'base/base.html' %}
{% block title %}
Lista de Tarjetas
{% endblock %}
{% block content %}
{% load staticfiles %}
 <!-- Content -->
  <section id="fondo" >
    <div class="dark-overlay" >
      <div class="container ">
        <!-- HEADER -->
        <div class="row ">
          <div class="col-12 text-center mt-4">
            <h1 class="nombre-torneo text-white">Lista de Tarjetas</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <table class="table">
              <thead class="thead-dark">
                <th>Cantidad</th>
                <th>Peso</th>
                <th>Hora</th>
                <th>Puntaje</th>
                <th>Torneo</th>
                <th>Participante</th>
              </thead>
              <tbody class="table-dark">
                {% if object_list %}
                {% for tarjeta in object_list %}
                <tr>
                  <td>{{tarjeta.cantidad}}</td>
                  <td>{{tarjeta.peso}}</td>
                  <td>{{tarjeta.hora}}</td>
                  <td>{{tarjeta.puntaje}}</td>
                  <td>{{tarjeta.torneo}}</td>
                  <td>{{tarjeta.participante}}</td>                  
                </tr>
                {% endfor %}
                {% else %}
                <h1 class="text-white">Todavia no hay Tarjetas registrados</h1>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}