{% extends 'base/base.html' %}
{% block title %}
Lista de Torneos
{% endblock %}
{% block content %}
{% load staticfiles %}
 <!-- Content -->
  <section id="fondo" >
    <div class="dark-overlay" >
      <div class="container ">
        <!-- HEADER -->
        <div class="row ">
          <div class="col-12 text-center mt-4">
            <p class="nombre-torneo text-white">Lista de Torneos</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <table class="table">
              <thead class="thead-dark">
                <th>fecha</th>
                <th>campeonato</th>
                <th>especialidad</th>
                <th>club</th>
              </thead>
              <tbody class="table-dark">
                {% if object_list %}
                {% for torneo in object_list %}
                <tr>
                  <td>{{torneo.fecha}}</td>
                  <td>{{torneo.campeonato.nombre}}</td>
                  <td>{{torneo.especialidad.nombre}}</td>
                  <td>{{torneo.club.nombre}}</td>
                </tr>
                {% endfor %}
                {% else %}
                <h1>Todavia no hay Torneos registrados</h1>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}