{% extends 'base/base.html' %}
{% block title %}
Lista de Participantes
{% endblock %}
{% block content %}
{% load staticfiles %}
 <!-- Content -->
  <section id="fondo" >
    <div class="dark-overlay" >
      <div class="container ">
        <!-- HEADER -->
        <div class="row ">
          <div class="col-12 text-center mt-4">
            <p class="nombre-torneo text-white">Lista de Participante</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <table class="table">
              <thead class="thead-dark">
                <th>Categoria</th>
              </thead>
              <tbody class="table-dark">
                {% if object_list %}
                {% for participante in object_list %}
                <tr>
                  <td>{{participante.nombre}}</td>
                  <td>{{participante.apellido}}</td>
                  <td>{{participante.getEdad}}</td>
                  <td>{{participante.club}}</td>
                  <td>{{participante.categoria}}</td>
                </tr>
                {% endfor %}
                {% else %}
                <h1>Todavia no hay Participantes registrados</h1>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}