{% extends 'base/base.html' %}
{% block title %}
Alta Clubes
{% endblock %}
{% block content %}
{% load staticfiles %}
 <!-- Content -->
  <section id="fondo" >
    <div class="dark-overlay" >
      <div class="container ">
        <!-- HEADER -->
        <div class="row ">
          <div class="col-12 text-center mt-4">
            <h1 class="nombre-torneo text-white">Lista de Clubes</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <table class="table">
              <thead class="thead-dark">
                <th>Nombre</th>
                <th>Abreviacion</th>
              </thead>
              <tbody class="table-dark">
                {% if object_list %}
                {% for club in object_list %}
                <tr>
                  <td>{{club.nombre}}</td>
                  <td>{{club.abreviacion}}</td>
                </tr>
                {% endfor %}
                {% else %}
                <h1 class="text-white">Todavia no hay clubes registrados</h1>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}